### Exception handling

In [ ]:
name = "davids"
try:
    if len(name) > 5:
        raise Exception("Name greater than 5 characters")
    else:
        print(name)
except ValueError as e:
    raise Exception("error has occured", e)
finally:
    print("Done")

SyntaxError: invalid syntax (832384813.py, line 6)

### Unit Test , use in script

used to test modules of code

In [ ]:
import unittest

def sayHello(name):
    if len(name) > 5:
        raise Exception("Name greater than 5 characters")
    else:
        return name
class testAplikasi(unittest.TestCase):
    def test_sayHello_success(self):
        result = sayHello("Gallay")
        expectation = "Gallay"
# result = first, second = expectation
        self.assertEqual(result, expectation)
    def test_sayHello_error(self):
        self.assertRaises(Exception, sayHello)

if __name__ == "__main__":
    unittest.main()

usage: ipykernel_launcher.py [-h] [-v] [-q] [--locals] [--durations N] [-f]
                             [-c] [-b] [-k TESTNAMEPATTERNS]
                             [tests ...]
ipykernel_launcher.py: error: argument -f/--failfast: ignored explicit argument 'c:\\Users\\hugom\\AppData\\Roaming\\jupyter\\runtime\\kernel-v3c2ceca2e91a51b129c12d661e72b04e5054a9669.json'

SystemExit: 2

:

### SQL QUERIES/DDL, DML, DCL

DDL (Data defining Language/ Data control language) in pgadmin4

In [ ]:
begin;

create table "product_categories"(
	name varchar(10) primary key
);

create table if not exists products (
	id int primary key,
	name varchar not null,
	price int,
	category varchar(10),
	-- step 2 define foreign key
	foreign key(category) references product_categories(name)
	
);

insert into product_categories (name) values ('household'), ('comercial'),('industrial');
insert into products (id, name, price, category) values (1, 'soap', 2, 'household'), (2, 'bleach', 4, 'household'), (3, 'stove', 250, 'comercial'), (4, 'pipes', 40, 'industrial'), (5, 'cash_register', 200, 'comercial');

commit;

Queries in google big data

In [ ]:

SELECT * 
FROM `sublime-iridium-400506.school.students`;

select name from `sublime-iridium-400506.school.students`
WHERE LOWER(name) LIKE '%r%';

select *
FROM `sublime-iridium-400506.school.students`  
WHERE campus_id in (2,3);

select name
FROM `sublime-iridium-400506.school.students`
WHERE campus_id in (2) and total_grade >90 and name like 'H%';
-- % is like where it cares if its before of after %H% cares if its anywhere, %H cares if its at the end, H% cares if its at the start

select distinct campus_id, name
from `sublime-iridium-400506.school.students`;

select avg(total_grade) as `average`
from `sublime-iridium-400506.school.students`;

select
campus_id,
avg(total_grade) as `average`
from `sublime-iridium-400506.school.students`
where campus_id in (1,2,3) #searches from the column headers (INDIVIDUAL ELEMENTS)
group by campus_id
having `average` > 90 #searches from the aggregrated values, so we ccan use aggregations (GROUP ELEMENTS)
order by campus_id DESC;


select
b.campus_name as campus,
avg(total_grade) as `average`
from `sublime-iridium-400506.school.students` as a
join `sublime-iridium-400506.school.campus` as b
on a.campus_id = b.id 
where campus_id in (1,2,3) #searches from the column headers (INDIVIDUAL ELEMENTS)
group by campus
having `average` > 90 #searches from the aggregrated values, so we ccan use aggregations (GROUP ELEMENTS)
order by campus DESC;


SELECT * 
FROM `sublime-iridium-400506.school.students`;

SELECT * 
FROM `sublime-iridium-400506.school.campus`;

select name from `sublime-iridium-400506.school.students`
WHERE LOWER(name) LIKE '%r%';

select *
FROM `sublime-iridium-400506.school.students`  
WHERE campus_id in (2,3);

select name
FROM `sublime-iridium-400506.school.students`
WHERE campus_id in (2) and total_grade >90 and name like 'H%';
-- % is like where it cares if its before of after %H% cares if its anywhere, %H cares if its at the end, H% cares if its at the start

select distinct campus_id, name
from `sublime-iridium-400506.school.students`;

select avg(total_grade) as `average`
from `sublime-iridium-400506.school.students`;

select
campus_id,
avg(total_grade) as `average`
from `sublime-iridium-400506.school.students`
group by campus_id;

select
b.campus_name as campus,
avg(total_grade) as `average`
from `sublime-iridium-400506.school.students` as a
join `sublime-iridium-400506.school.campus` as b
on a.campus_id = b.id 
group by campus
order by campus DESC;

-- right join, priotitizes all right databases to be visible, if left has the elements but right dsnt it dsnt show
select *
from `sublime-iridium-400506.school.students` as a
right join `sublime-iridium-400506.school.campus` as b
on a.campus_id = b.id;


-- left join, priotitizes all right databases to be visible, if right has the elements but left dsnt it dsnt show
select *
from `sublime-iridium-400506.school.students` as a
left join `sublime-iridium-400506.school.campus` as b
on a.campus_id = b.id;

-- full join
select *
from `sublime-iridium-400506.school.students` as a
full join `sublime-iridium-400506.school.campus` as b
on a.campus_id = b.id;

In [ ]:
from google.colab import auth
from google.cloud import bigquery
import pandas as pd

auth.authenticate_user()

project_id = "data-science-440809" # change this with your project id
client = bigquery.Client(project=project_id)

'''
put your sql query here, adjust the FROM clause with the following requirements
- project_name: bigquery-public-data
- dataset_name: austin_bikeshare
- table_name: bikeshare_trips
'''

# query = """
# SELECT * FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
# """

query = """
SELECT COUNT(*) as table_count
FROM `bigquery-public-data.austin_bikeshare.INFORMATION_SCHEMA.TABLES`;
"""
query2 = """
SELECT COUNT(*) as column_count 
FROM `bigquery-public-data.austin_bikeshare.INFORMATION_SCHEMA.COLUMNS`
WHERE data_type = 'STRING' AND table_name = 'bikeshare_stations';
"""

# retrieve data from query and convert it into dataframe
df = client.query(query).to_dataframe()
df2 = client.query(query2).to_dataframe()
# print the dataframe
df
df2